<body><meta charset="utf-8"/><h1>root project 'ptt-kotlin'</h1><h3>Version 1.1.4 (2021-03-08 10:07:49.891163)</h3><h4>Bugfixes</h4><ul><li>Fixed simple definition for nullable extractors</li></ul><h3>Version 1.1.1 (2020-11-11 10:17:37.2115367)</h3><h4>Bugfixes</h4><ul><li>Fixed buildscript</li></ul><h3>Version 1.1.0 (2020-11-11 10:07:23.5003853)</h3><h4>New features</h4><ul><li>Adding semantic versioning</li><li>Adding locale to DefaultDateTimeConverters</li><li>Doc for Converters</li></ul><h4>Bugfixes</h4><ul><li>Refactoring to single project</li></ul></body>
